* {
  box-sizing: border-box;
}

/* Подключение Muller Regular */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Bold */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Light Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLightItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerLightItalic.woff2') format('woff2'),
		url('../fonts/MullerLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
  font-display: swap;
}

/* Подключение Muller Medium */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Regular Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegularItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegularItalic.woff2') format('woff2'),
		url('../fonts/MullerRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

/* Базовые стили для работы */
body {
  font-family: 'Muller', sans-serif;
	font-weight: 400;
}

.container {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
}

.heading {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #121723;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.reset-text {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: #121723;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 54px 0;
}

/* heading */

/* header-top */

.left-header {
  background-color: #D2D5DD;
  padding: 9px 0 10px 0;
}

.left-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header__btn {
  padding: 7.5px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #121723;
  border-radius: 77px;
}

/* header-top */

/* header-center */

.right-header__link-img, .right-header__nav, .right-header__menu-btn {
  display: none;
}

.right-header__block-menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}

/* BURGER */

.block-burger {
  max-height: 24px;
}

.block-burger__btn-burger {
  position: relative;
  height: 24px;
  width: 24px;
}

.block-burger__span-btn {
  position: absolute;
  width: 24px;
  height: 3px;
  left: 0;
  top: 12px;
  background-color: #6D31EE;
  border-radius: 4px;
}

.block-burger__span-btn:nth-child(1) {
  top: 0px;
}

.block-burger__span-btn:nth-child(2) {
  top: 11px;
}

.block-burger__span-btn:nth-child(3) {
  top: 21px;
  bottom: 0px;
}

/* BURGER */

.right-header__block-btn {
  max-height: 24px;
}

/* header-center */

/* header-bottom */

.header-botton {
  border: 1px solid #E6E8EC;
  padding: 14px 0;
}

.header-botton__list, .limitations-header, .header-audio-block {
  display: none;
}

.header-botton__btn-ether-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-botton__ether-btn {
  margin-right: 5px;
  height: 15px;
}

.header-botton__ether-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #6D31EE;
}


/* header-bottom */

/* heading */

/* hero-section */

.hero-section {
  padding: 40px 0;
}

.hero-section__heading {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
}

.hero-section__strong {
  font-weight: 700;
  font-style: initial;
}

.hero-section__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.hero-section__btn {
  padding: 17px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #6D31EE;
  border-radius: 40px;
}

.hero-section__hero-background {
  display: none;
}

/* hero-section */

/* podcasts-section */

  .podcasts-section {
    background: #F2F2F2;
  }

  .podcasts-section__heading {
    margin-bottom: 20px;
  }

  .podcast-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .podcast-list__img-block {
    position: relative;
    height: 72px;
  }

  .podcast-list__date {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 6px;
    background: #F2F2F2;
    border: none;
    font-size: 10px;
    line-height: 10px;
  }

  .podcast-info-block {
    background-color: #fff;
  }

  .podcast-info-block__top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .podcast-info-block__top-date {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 12px;
  }

  .podcast-info-block__top-text {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .podcast-info-block__top-author {
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
  }

  .podcast-info-block__top-button {
    display: flex;
    align-items: center;
  }

  .podcast-info-block__bottom-podcast {
    display: flex;
    padding: 5px 10px 6px 34px;
    border-top: 1px solid #F2F2F2;

  }

  .podcast-info-botton-span {
    padding-top: 4px;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
  }

  .podcast-info-block__actions {
    display: flex;
    align-items: center;
  }

  .podcast-info-block__actions:not(:last-child) {
    margin-right: 30px;
  }

  .play-block button, .like-block button, .shared-block button {
    margin-right: 6px;
    height: 13px;
  }

  .podcasts-section__btn {
    display: block;
    margin: 0 auto;
    padding: 17px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #6D31EE;
    border: 2px solid #6D31EE;
    border-radius: 40px;
  }

  .item-podcast-five, .item-podcast-six, .item-podcast-seven, .item-podcast-eight {
    display: none;
  }

/* podcasts-section */

/* broadcast-section */

.broadcast-left-top__heading {
  margin-bottom: 20px;
}

.broadcast-left-top__span {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.broadcast-left-top__select {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 15px 12px 12px;
  background: #F5F6F7;
  border-radius: 10px;
  border: none;
}


/* broadcast-section */





/* media 768px*/
  @media(min-width: 768px) {

  }
/* media */

