* {
  box-sizing: border-box;
}

/* Подключение Muller Regular */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Bold */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Light Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLightItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerLightItalic.woff2') format('woff2'),
		url('../fonts/MullerLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
  font-display: swap;
}

/* Подключение Muller Medium */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Regular Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegularItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegularItalic.woff2') format('woff2'),
		url('../fonts/MullerRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

/* Базовые стили для работы */
body {
  font-family: 'Muller', sans-serif;
	font-weight: 400;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 405px;
  padding-right: 405px;
}

.heading {
  padding: 0;
  margin: 0;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: #fff;
  cursor: pointer;
}

.reset-text {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
}
.container {
}
.header__container {
}
.header__left-header {
}
.left-header {
}
.reset-text {
}
.left-header__link {
}
.header__right-header {
}
.right-header {
}
.right-header__link {
}
.right-header__nav {
}
.reset-list {
}
.right-header__list {
}
.right-header__item {
}
.right-header__block-menu {
}
.btn {
}
.right-header__search-btn {
}
.right-header__search-svg {
}
.right-header__menu-btn {
}
.header__header-botton {
}
.header-botton {
}
.header-botton__list {
}
.header-botton__item {
}
.header-botton__link {
}
.header-botton__header-audio-block {
}
.header-audio-block {
}
.header-audio-block__block {
}
.header-audio-block__btn-start {
}
.header-audio-block__info-audio {
}
.header-audio-block__span-info {
}
.header-audio-block__name-audio {
}
.header-botton__limitations-header {
}
.limitations-header {
}
.limitations-header__desc {
}
/* header */


/* hero-section */
.section {
}
.hero-section {
}
.container {
}
.hero-section__container {
}
.hero-section__main {
}
.hero-section__heading {
}
.heading {
}
.hero-section__strong {
}
.reset-text {
}
.hero-section__text {
}
.btn {
}
.hero-section__btn {
}
.hero-section__hero-background {
}
.hero-background {
}
.hero-background__circle {
}
.hero-background__microphone {
}
/* hero-section */

/* podcasts-section */
.section {
}
.podcasts-section {
}
.container {
}
.podcasts__container {
}
.podcasts-section__heading {
}
.heading {
}
.reset-list {
}
.podcasts-section__podcast-list {
}
.podcast-list {
}
.podcast-list__item {
}
.item-podcast-one {
}
.podcast-list__img-block {
}
.podcast-list__img {
}
.podcast-list__date {
}
.podcast-list__podcast-info-block {
}
.podcast-info-block {
}
.podcast-info-block__top {
}
.podcast-info-block__top-info {
}
.podcast-info-block__top-date {
}
.reset-text {
}
.podcast-info-block__top-text {
}
.podcast-info-block__top-author {
}
.btn {
}
.podcast-info-block__top-button {
}
.podcast-info-block__top-svg {
}
.podcast-info-block__bottom-podcast {
}
.podcast-info-block__actions {
}
.play-block {
}
.podcast-info-block__bottom-play-btn {
}
.podcast-info-block__bottom-play-span {
}
.like-block {
}
.podcast-info-block__bottom-like-btn {
}
.podcast-info-block__bottom-like-span {
}
.shared-block {
}
.podcast-info-block__bottom-shared-btn {
}
.podcast-info-block__bottom-shared-span {
}
.item-podcast-two {
}
.item-podcast-three {
}
.item-podcast-four {
}
.item-podcast-five {
}
.item-podcast-six {
}
.item-podcast-seven {
}
.item-podcast-eight {
}
.podcasts-section__btn {
}
/* podcasts-section */

/* broadcast-section */
.section {
}
.broadcast-section {
}
.container {
}
.broadcast-section__container {
}
.broadcast-section__left-block-broadcast {
}
.left-block-broadcast {
}
.left-block-broadcast__broadcast-left-top {
}
.broadcast-left-top {
}
.heading {
}
.broadcast-left-top__heading {
}
.reset-text {
}
.broadcast-left-top__span {
}
.broadcast-left-top__select {
}
.left-block-broadcast__broadcast-left-botton {
}
.broadcast-left-botton {
}
.broadcast-left-botton__background {
}
.broadcast-left-botton__btn {
}
.broadcast-left-botton__span {
}
.broadcast-section__right-block-broadcast {
}
.right-block-broadcast {
}
.reset-list {
}
.right-block-broadcast__list {
}
.right-block-broadcast__item {
}
.right-block-broadcast__bacground {
}
.right-block-broadcast__info-block {
}
.right-block-broadcast__heading {
}
.right-block-broadcast__span {
}
.right-block-broadcast__link {
}
/* broadcast-section */

/* guests-section */
.section {
}
.guests-section {
}
.container {
}
.guests-section__container {
}
.guests-section__heding {
}
.heading {
}
.reset-text {
}
.guests-section__span {
}
.guests-section__text-info {
}
.guests-section__block {
}
.guests-section__guest-block-left {
}
.guest-block-left {
}
.reset-list {
}
.guest-block-left__list {
}
.guest-block-left__item {
}
.guest-item-blogers {
}
.guest-item-blogers__block-specialization {
}
.guest-item-blogers__specialization {
}
.guest-item-blogers__btn {
}
.btn {
}
.guest-item-blogers__list {
}
.guest-item-blogers__item {
}
.guests-section__guest-block-right {
}
.guest-block-rigth {
}
.guest-block-rigth__img-qu {
}
.guest-block-rigth__list {
}
.guest-block-rigth__item {
}
.guest-block-rigth__link {
}
.guest-block-rigth__svg-instagram {
}
.guest-block-rigth__svg-fb {
}
.guest-block-rigth__svg-twitter {
}
.guest-block-rigth__heading-name {
}
.guest-block-rigth__info-person {
}
.guest-block-rigth__btn {
}
/* guests-section */

/* playlists-section */
.section {
}
.playlists-section {
}
.container {
}
.playlists-section__container {
}
.playlists-section__playlist-block-left {
}
.playlist-block-left {
}
.playlist-block-left__top-block {
}
.playlist-block-left__heading {
}
.heading {
}
.reset-text {
}
.playlist-block-left__span {
}
.playlist-block-left__text {
}
.playlist-block-left__span-bottom {
}
.playlist-block-left__img {
}
.playlists-section__playlist-block-right {
}
.playlist-block-right {
}
.reset-list {
}
.playlist-block-right__list {
}
.playlist-block-right__item {
}
.playlist-block-right__background-img {
}
.playlist-block-right__img {
}
.playlist-block-right__img-group {
}
.playlist-block-right__block-botton {
}
.playlist-block-right__name-group {
}
.playlist-block-right__text {
}
/* playlists-section */

/* adv-section */
.section {
}
.adv-section {
}
.adv-section__container {
}
.container {
}
.adv-section__background {
}
.adv-section__background-svg {
}
.adv-section__main {
}
.adv-section__heading {
}
.heading {
}
.adv-section__background-main {
}
.reset-text {
}
.adv-section__text {
}
.adv-section__price-strong {
}
.adv-section__link {
}
/* adv-section */

/* about-section */
.section {
}
.about-section {
}
.about-section__container {
}
.container {
}
.about-section__info {
}
.about-section__about-block-left {
}
.about-block-left {
}
.about-block-left__heading {
}
.heading {
}
.about-block-left__bolt {
}
.reset-text {
}
.about-block-left__text {
}
.about-section__about-block-right {
}
.about-block-right {
}
.about-block-right__svg {
}
.svg-spiral {
}
.svg-star {
}
.about-section__block-slider {
}
.about-section__btn-left {
}
.about-section__svg-left {
}
.reset-list {
}
.about-section__list {
}
.about-section__item {
}
.about-section__img {
}
.about-section__heading-name-person {
}
.about-section__text-person {
}
.about-section__btn-right {
}
.about-section__svg-right {
}
.about-section__about-form-block {
}
.about-form-block {
}
.about-form-block__texteria {
}
.about-form-block__block-input {
}
.about-form-block__input-name {
}
.about-form-block__input-email {
}
.about-form-block__btn {
}
.btn {
}
.about-form-block__checkbox {
}
.about-form-block__text-checkbox {
}
/* about-section */

/* footer */
.footer {
}
.container {
}
.footer__container {
}
.footer__top-block-footer {
}
.footer__left-block-footer {
}
.footer__logo {
}
.reset-list {
}
.footer__left-list {
}
.footer__left-item {
}
.reset-text {
}
.footer__left-link-soc {
}
.youtube {
}
.odnoklassniki {
}
.vk {
}
.footer__right-block-footer {
}
.footer__right-nav {
}
.footer__right-list {
}
.footer__right-item {
}
.footer__right-link {
}
.footer__botton-block-footer {
}
.footer__botton-background {
}
.footer__botton-text {
}
.reg {
}
/* footer */










