* {
  box-sizing: border-box;
}

/* Подключение Muller Regular */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Bold */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Light Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLightItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerLightItalic.woff2') format('woff2'),
		url('../fonts/MullerLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
  font-display: swap;
}

/* Подключение Muller Medium */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

/* Подключение Muller Regular Italic */
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegularItalic.eot');
	src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
		url('../fonts/MullerRegularItalic.woff2') format('woff2'),
		url('../fonts/MullerRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

/* Базовые стили для работы */
body {
  font-family: 'Muller', sans-serif;
	font-weight: 400;
}

:root {
  --margin-block: 30px;
}

.container {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
}

.heading {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #121723;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.reset-text {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: #121723;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 54px 0;
}

.btn:focus,
.reset-text:focus,
.about-form-block__texteria:focus,
.about-form-block__input-name:focus,
.about-form-block__input-email:focus,
.about-form-block__checkbox:focus {
  outline: none;
}



/* header */

.header {
  position: relative;
  z-index: 1;
}

/* header-top */

.left-header {
  background-color: #D2D5DD;
  padding: 9px 0 10px 0;
}

.left-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header__btn {
  padding: 7.5px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #121723;
  border-radius: 77px;
  transition: color .3s ease,
  background-color .3s ease,
  border-color .3s ease;
}

.left-header__btn:focus {
  background-color: #AA9DFA;
}

.left-header__btn:hover {
  background-color: #121723;
  color: #fff;
}

.left-header__btn:active {
  background-color: #4F28A5;
  color: #fff;
  border-color: #4F28A5;
}

/* header-top */

/* header-center */

.right-header__link-img, .right-header__nav, .right-header__menu-btn {
  display: none;
}

.right-header__block-menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}

/* BURGER button */

.block-burger {
  position: relative;
  max-height: 24px;
}

.block-burger__btn-burger {
  /*position: relative;*/
  height: 24px;
  width: 24px;
}

.block-burger__span-btn {
  position: absolute;
  width: 24px;
  height: 3px;
  left: 0;
  top: 12px;
  background-color: #6D31EE;
  border-radius: 4px;
}

.block-burger__span-btn:nth-child(1) {
  top: 0px;
}

.block-burger__span-btn:nth-child(2) {
  top: 11px;
}

.block-burger__span-btn:nth-child(3) {
  top: 21px;
  bottom: 0px;
}

/* BURGER button */

.block-burger-menu {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.container-top-burger {
  padding-top: 13px;
  padding-bottom: 24px;
  background-color: #F2F2F2;
}

.container-top-burger__btn-close {
  display: block;
  height: 24px;
  width: 24px;
  margin-bottom: 24px;
}

.container-top-burger__block-lists {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.container-top-burger__item-one:not(:last-child), .container-top-burger__item-two:not(:last-child) {
  margin-bottom: 40px;
}

.container-top-burger__link-one, .container-top-burger__link-two {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.container-bottom-burger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding-top: var(--margin-block);
  padding-bottom: var(--margin-block);
}

.container-bottom-burger__item:not(:last-child) {
  margin-bottom: var(--margin-block);
}

/* BURGER button */

/* BURGER menu */

.right-header__block-btn {
  max-height: 24px;
}

.right-header__search-btn path {
  stroke:#6D31EE;
  transition: stroke .3s ease;
}

.right-header__search-btn:focus path{
  stroke: #AA9DFA;
}

.right-header__search-btn:hover path {
  stroke: #AA9DFA;
}

.right-header__search-btn:active path {
  stroke: #4F28A5;
}

/* header-center */

/* header-bottom */

.header-botton {
  border: 1px solid #E6E8EC;
  padding: 14px 0;
}

.header-botton__list, .limitations-header, .header-audio-block {
  display: none;
}

.header-botton__btn-ether-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-botton__ether-btn {
  margin-right: 5px;
  height: 15px;
}

.header-botton__ether-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #6D31EE;
}


/* header-bottom */

/* heading */

/* hero-section */

.hero-section {
  padding: 40px 0;
}

.hero-section__heading {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
}

.hero-section__strong {
  font-weight: 700;
  font-style: initial;
}

.hero-section__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.hero-section__btn {
  padding: 17px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #6D31EE;
  border-radius: 40px;
  transition: outline .3s ease, background-color .3s ease;
}

.hero-section__btn:focus {
  background-color: #AA9DFA;
  outline: 2px solid #4F28A5;
}

.hero-section__btn:hover {
  background-color: #AA9DFA;
}

.hero-section__btn:active {
  background-color: #4F28A5;
  outline: none;
}

.hero-section__hero-background {
  display: none;
}

/* hero-section */

/* podcasts-section */

.podcasts-section {
  background: #F2F2F2;
}

.podcasts-section__heading {
  margin-bottom: 20px;
}

.podcast-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.podcast-list__img-block {
  position: relative;
  height: 72px;
}

.podcast-list__img {
  display: block;
  width: 100%;
  height: 100%;
}

.podcast-list__date {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 8px;
  background: #F2F2F2;
  border: none;
  font-size: 10px;
  line-height: 10px;
}

.podcast-info-block {
  background-color: #fff;
}

.podcast-info-block__top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.podcast-info-block__top-date {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 12px;
}

.podcast-info-block__top-text {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
}

.podcast-info-block__top-author {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.podcast-info-block__top-button {
  display: flex;
  align-items: center;
}

.podcast-info-block__top-button circle {
  stroke: #A1A6B4;
  fill: #fff;
  transition: stroke .3s ease, fill .3s ease;
}

.podcast-info-block__top-button path {
  fill: #A1A6B4;
  transition: fill .3s ease;
}

.podcast-info-block__top-button:focus circle {
  stroke: #AA9DFA;
}

.podcast-info-block__top-button:focus path {
  fill: #AA9DFA;
}

.podcast-info-block__top-button:hover circle {
  stroke: #6D31EE;
}

.podcast-info-block__top-button:hover path {
  fill: #6D31EE;
}

.podcast-info-block__top-button:active circle {
  stroke: #4F28A5;
  fill: #4F28A5;
}

.podcast-info-block__top-button:active path {
  fill: #fff;
}

.podcast-info-block__bottom-podcast {
  display: flex;
  padding: 5px 10px 6px 34px;
  border-top: 1px solid #F2F2F2;
}

.podcast-info-block__actions-btn {
  position: relative;
  display: flex;
  align-items: center;
  outline: 0px solid #fff;
  transition: background-color .3s ease, outline .3s ease;
}

.podcast-info-botton-span {
  padding-top: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  transition: color .3s ease;
}

.podcast-info-block__actions-btn .podcast-info-block__actions-btn-svg path {
  fill: #A1A6B4;
  transition: fill .3s ease;
}

.podcast-info-block__actions-btn:focus {
  background-color: #AA9DFA;
  outline: 2px solid #AA9DFA;
}

.podcast-info-block__actions-btn:focus path, .podcast-info-block__actions-btn:focus .podcast-info-botton-span {
  fill: #fff;
  color: #fff;
  opacity: 1;
}

.podcast-info-block__actions-btn:hover {
  background-color: #fff;
  outline: 0px solid #fff;
}

.podcast-info-block__actions-btn:hover path, .podcast-info-block__actions-btn:hover .podcast-info-botton-span {
  fill: #6D31EE;;
  color: #6D31EE;
}

.podcast-info-block__actions-btn:active {
  background-color: #fff;
  outline: 0px solid #fff;
}

.podcast-info-block__actions-btn:active path, .podcast-info-block__actions-btn:active .podcast-info-botton-span {
  color: #4F28A5;
  fill:#4F28A5;
}

.podcast-info-block__actions-btn:not(:last-child) {
  margin-right: var(--margin-block);
}

.podcast-info-block__actions-btn-svg {
  margin-right: 6px;
  height: 13px;
}

.podcasts-section__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #6D31EE;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  transition: border .3s ease, color .3s ease, background-color .3s ease;
}

.podcasts-section__btn:focus {
  background-color: #AA9DFA;;
  color: #fff;
}

.podcasts-section__btn:hover {
  background-color: #6D31EE;
  color: #fff;
}

.podcasts-section__btn:active {
  border: 2px solid #4F28A5;
  background-color: #4F28A5;
  color: #fff;
}

.item-podcast-five, .item-podcast-six, .item-podcast-seven, .item-podcast-eight {
  display: none;
}

/* podcasts-section */

/* broadcast-section */

.broadcast-section {
  padding-bottom: 0;
}

.broadcast-left-top__heading {
  margin-bottom: 20px;
}

.broadcast-left-top__span {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.broadcast-left-top__select {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 15px 10px 12px;
  background: #F5F6F7;
  border-radius: 10px;
  border: none;
}

.right-block-broadcast {
  margin-bottom: var(--margin-block);
}


.right-block-broadcast__list {
  display: flex;
  flex-wrap: wrap;
}

.right-block-broadcast__bacground {
  /*background: url("../img/broadcast/broadcast-1.jpg") no-repeat;*/
  /*background-size: cover;*/
  height: 50px;
}

.right-block-broadcast__bacground-img {
  width: 100%;
  height: 100%;
}


.right-block-broadcast__info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 9px;
  padding-bottom: 10px;
  border: 1px solid #E6E8EC;
}


.right-block-broadcast__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - var(--margin-block)) / 2);
  margin-bottom: 30px;
  min-height: 149px;
}

.right-block-broadcast__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.right-block-broadcast__item:last-child {
  margin: 0;
}

.right-block-broadcast__item:nth-child(5) {
  margin-bottom: 0;
}


.right-block-broadcast__heading {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
}

.right-block-broadcast__span {
  display: block;
  margin-bottom: 18px;
  font-size: 9px;
  line-height: 9px;
  color: #A1A6B4;
}

.right-block-broadcast__link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: #121723;
  background-color: transparent;
  transition: color .3s ease;
  z-index: 2;
}

.right-block-broadcast__link::after {
  content: "";
  position: absolute;
  background-color: #AA9DFA;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
}

.right-block-broadcast__link path {
  fill: #121723;
  transition: fill .3s ease;
}

.right-block-broadcast__link:focus, .right-block-broadcast__link:focus:after, .right-block-broadcast__link:focus path {
  color: #fff;
  fill: #fff;
  opacity: 1;
}

.right-block-broadcast__link:hover:after {
  opacity: 0;
}

.right-block-broadcast__link:hover, .right-block-broadcast__link:hover path  {
  color: #6D31EE;
  fill: #6D31EE;
}

.right-block-broadcast__link:active:after {
  opacity: 0;
}

.right-block-broadcast__link:active, .right-block-broadcast__link:active path {
  color: #4F28A5;
  fill: #4F28A5;
}


.right-block-broadcast__link-svg {
  padding-left: 4px;
}


.archive-block {
  border-top: 1px solid #F2F2F2;
}

.archive-block__info {
  background: url("../img/broadcast/mic.png") no-repeat;
  background-position: 0px 30px;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 90px;
}

.archive-block__span {
  max-width: 255px;
  margin-bottom: 7px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #A1A6B4;
}

.archive-block__btn {
  padding: 7.5px 19px;
  border: 2px solid #121723;
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #121723;
  background-color: #fff;
  border: 2px solid #121723;
  transition: border .3s ease, color .3s ease, background-color .3s ease;
}

.archive-block__btn path {
  stroke: #121723;
  transition: stroke .3s ease;
}

.archive-block__btn:focus {
  background-color: #AA9DFA;
}

.archive-block__btn:hover, .archive-block__btn:hover path{
  background-color: #121723;
  stroke: #fff;
  color: #fff;
}

.archive-block__btn:active, .archive-block__btn:active  .archive-block__btn path{
  background-color: #4F28A5;
  stroke: #fff;
  color: #fff;
  border: 2px solid #4F28A5;
}

.archive-block__btn-svg {
  margin-right: 4px;
}

/* broadcast-section */

/* guests-section */

.guests-section {
  background-color: #121723;
  color: #fff;
}

.guests-section__heding {
  margin-bottom: 10px;
  color: #fff;
  line-height: 27px;
}

.guests-section__span {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #A1A6B4;
}

.guests-section__text-info {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 22px;
  color: #A1A6B4;
}

.guest-block-left {
  margin-bottom: 34px;
}

.guest-item-blogers__block-specialization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 9px 0;
  border-top: 1px solid #A1A6B4;
  border-bottom: 1px solid #A1A6B4;
}

.guest-item-blogers:last-child .guest-item-blogers__block-specialization {
  border-bottom: 1px solid #A1A6B4;
}

.guest-item-blogers__specialization {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.guest-item-blogers__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.guest-item-blogers__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 13px;
}

.guest-item-blogers__item {
  width: calc((100% - var(--margin-block) - 12px) / 2);
  display: flex;
  flex-direction: column;
}

.guest-item-blogers__item .btn {
  display: inline-block;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  transition: color .3s ease;
}

.guest-item-blogers__item .btn:focus {
  color: #4F28A5;
}

.guest-item-blogers__item .btn:active {
  color: #AA9DFA;
}

.guest-item-blogers__item:not(:nth-child(2n)) {
  margin-right: 42px;
}

.guest-item-blogers__item:not(:last-child) {
  margin-bottom: 30px;
}

.guest-block-rigth__img-picture {
  display: block;
  margin-bottom: 12px;
  height: 100%;
}

.guest-block-rigth__img-qu {
  display: block;
  width: 100%;
  height: 100%;
}

.guest-block-rigth__list {
  display: flex;
  height: 36px;
  margin-bottom: 12px;
}

.guest-block-rigth__link {
  display: block;
  display: flex;
  align-items: center;
}

.guest-block-rigth__link path {
  fill: #A1A6B4;
  transition: fill .3s ease;
}

.guest-block-rigth__link:focus path {
  fill:#AA9DFA;
}

.guest-block-rigth__link:active path {
  fill:#6D31EE;
}

.guest-block-rigth__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}

.guest-block-rigth__item:not(:last-child) {
  margin-right: 21px;
}

.guest-block-rigth__heading-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.guest-block-rigth__info-person {
  margin-bottom: var(--margin-block);
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #A1A6B4;
}

.guest-block-rigth__btn {
  position: relative;
  z-index: 1;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  background-color: transparent;
  padding: 8.5px 13.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #AA9DFA;
  transition: color .3s ease, background-color .3s ease, border .3s ease;
}


.guest-block-rigth__btn::after {
  position: absolute;
  content: "";
  z-index: -10;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 40px;
  background-color: #6D31EE;
  opacity: 0;
  transition: left .3s ease, right .3s ease, opacity .3s ease;
}

.guest-block-rigth__btn:focus::after {
  left: -23.5px;
  right: -23.5px;
  opacity: 1;
}

 .guest-block-rigth__btn:focus{
  background-color:#6D31EE;
  border: 2px solid #6D31EE;
  color: #fff;
}

.guest-block-rigth__btn:active::after {
  display: none;
}

.guest-block-rigth__btn:active {
  color: #fff;
  background-color:#4F28A5;
  border: 2px solid #4F28A5;
}



/* guests-section */

/* playlists-section */

.playlist-block-left__heading {
  margin-bottom: 20px;
}

.playlist-block-left__top-block-one {
  display: none;
}

.playlist-block-left__span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.playlist-block-left__block-input {
  display: none;
}

.playlist-block-left__block-input-btn {
  display: flex;
  overflow: auto;
  padding-bottom: 15px;
  margin-bottom: calc(var(--margin-block) / 2);
}

.playlist-block-left__block-btn {
  padding: 7.5px 18.5px;
  border: 2px solid #6D31EE;
  border-radius: 77px;
  color: #6D31EE;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  transition: color .3s ease, background-color .3s ease, border .3s ease;
}

.playlist-block-left__block-btn:focus {
  color: #fff;
  background-color: #6D31EE;
  border: #6D31EE;
}

.playlist-block-left__block-btn:active {
  color: #fff;
  background-color: #4F28A5;
  border: #4F28A5;
}

.playlist-block-left__block-btn:not(:last-child) {
  margin-right: 16px;
}

.playlist-block-right__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.playlist-block-right__item {
  /*width: calc((100%  - var(--margin-block)) / 2);*/
  width: 113px;
  position: relative;
}

.playlist-block-right__item:not(:last-child) {
  margin-bottom: var(--margin-block);
}

.playlist-block-right__item:nth-child(11) {
  margin: 0;
}

.playlist-block-right__item-btn {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
  height: 113px;
  width: 113px;
  transition: background-color .3s ease;
}

.playlist-block-right__item-btn:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.playlist-block-right__block-botton {
  padding: 9px;
  border: 1px solid #E6E8EC;
  background-color: #fff;
  transition: background-color .3s ease;
}

.playlist-block-right__item-btn:focus .playlist-block-right__block-botton {
  background-color: #AA9DFA;
}

.playlist-block-right__background-img {
  position: absolute;
  background-color: #121723;
  padding: 4px;
  right: 0;
}

.playlist-block-right__background-btn {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 38.5px;
  left: 38.5px;
  z-index: 4;
}


.playlist-block-right__img-group {
  display: block;
  width: 100%;
}

.playlist-block-right__img {
  display: block;
}

.playlist-block-right__name-group {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  transition: color .3s ease;
}

.playlist-block-right__text {
  font-weight: 400;
  font-size: 9px;
  line-height: 9px;
  color: #A1A6B4;
  transition: color .3s ease;
}

.playlist-block-right__top-block-info {
  border-top: 1px solid #D2D5DD;
  padding-top: 28px;
}

.playlist-block-right__text-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A1A6B4;
}

.playlist-block-right__span-bottom-info {
  display: block;
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #A1A6B4;
}

/* playlists-section */

/* adv-section */

.adv-section {
  background-color: #292E39;
  color: #fff;
}

.adv-section__background-block {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.adv-section__background {
  width: 100%;
}

.adv-section__background-svg {
  position: absolute;
  left: 0;
  top: 0;
}

.adv-section__heading {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #F0D288;
}

.adv-section__background-main {
  margin-bottom: 18px;
  width: 100%;
  height: 12px;
  background: url("../img/adv/Vector3.svg");
}

.adv-section__text {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.adv-section__price-strong {
  display: block;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.adv-section__link {
  display: flex;
  align-items: center;
  padding: 13px 15px;
  border: 2px solid #F0D288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #F0D288;
  transition: color .3s ease, background-color .3s ease, border .3s ease;
}

.adv-section__link path:first-child {
  fill: #F0D288;
  transition: fill .3s ease;
}

.adv-section__link path:last-child {
  fill: #121723;
  transition: fill .3s ease;
}

.adv-section__link:focus path:first-child {
  fill: #F0D288;
}

.adv-section__link:focus path:last-child {
  fill: #121723;
}

.adv-section__link:active path:first-child {
  fill: #121723;
}

.adv-section__link:active path:last-child {
  fill: #F0D288;
}

.adv-section__link:focus {
  background-color: #BB973E;
  color: #121723;
}

.adv-section__link:active {
  background-color:#F0D288;
  color: #121723;
}

.adv-section__pric-svg {
  margin-right: 8px;
}

/* adv-section */

/* about-section */

.about-section {
  background-color: #121723;
}

.about-block-left__heading {
  margin-bottom: 12px;
  color: #fff;
}

.about-block-left__bolt {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #A1A6B4;
}

.about-block-left__text {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 156%;
  color: #A1A6B4;
}

.about-block-right, .about-section__svg-left, .about-section__svg-right {
  display: none;
}

.about-section__list {
  display: flex;
  overflow: scroll;
  padding-bottom: 11px;
}

.about-section__pucture {
  display: block;
  margin-bottom: 12px;
}

.about-section__img {
  display: block;
  width: 113px;
  height: 113px;
}

.about-section__item {
  width: 113px;
}

.about-section__item:not(:last-child) {
  margin-right: 20px;
}

.about-section__heading-name-person {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.about-section__text-person {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A1A6B4;
}

.about-form-block {
  width: 100%;
}

.about-form-block__texteria {
  height: 150px;
  margin-bottom: var(--margin-block);
  border-radius: 20px;
}

.about-form-block__input-name, .about-form-block__input-email {
  border-radius: 40px;
  margin-bottom: var(--margin-block);
}

.about-form-block__texteria, .about-form-block__input-name, .about-form-block__input-email {
  display: block;
  width: 100%;
  padding: 16px 23px;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #fff;
  transition: background-color .3s ease, border .3s ease;
}

.about-form-block__texteria::placeholder, .about-form-block__input-name::placeholder, .about-form-block__input-email::placeholder  {
  color: #A1A6B4;
}

.about-form-block__texteria:focus, .about-form-block__input-name:focus, .about-form-block__input-email:focus {
  background-color: #292E39;
  border: 1px solid #AA9DFA;
}

.about-form-block__texteria:active, .about-form-block__input-name:active, .about-form-block__input-email:active {
  background-color: transparent;
  border: 1px solid #fff;
}

.about-form-block__btn {
  position: relative;
  display: block;
  z-index: 1;
  margin-bottom: 20px;
  padding: 17px 44.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: #6D31EE;
  border-radius: 40px;
  transition: background-color .3s ease;
}

.about-form-block__btn::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 40px;
  background-color: #6D31EE;
  transition: left .3s ease, right .3s ease;
}

.about-form-block__btn:focus::after {
  left: -23.5px;
  right: -23.5px;
}

.about-form-block__btn:active::after {
  display: none;
}

.about-form-block__btn:active {
  background-color: #4F28A5;
}

.about-form-block__checkbox{
  display: inline-block;
  margin-right: 8px;
}

.about-form-block__checkbox-label {
  display: flex;
  align-items: center;
}

.about-form-block__text-checkbox {
  position: relative;
  top: 1px;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #FFFFFF;
}

/* Footer */

.footer__top-container {
  background-color: #292E39;
}

.footer__left-block-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__left-list {
  display: flex;
  align-items: center;
}

.footer__left-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.footer__left-item:not(:last-child) {
  margin-right: 21px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__left-link-soc {
  display: flex;
  align-items: center;
}

.footer__left-link-soc path{
  fill: #A1A6B4;
  transition: fill .3s ease;
}

.footer__left-link-soc:focus path{
  fill: #AA9DFA;
}

.footer__left-link-soc:active path{
  fill: #6D31EE;
}



.footer__center-container {
  background-color: #121723;
  padding-top: var(--margin-block);
  padding-bottom: var(--margin-block);
}

.footer__center-nav-mobile {
  display: flex;
  justify-content: center;
}

.footer__center-list {
  display: flex;
  flex-direction: column;
}

.footer__center-list:first-child {
  margin-right: 78px;
}

.footer__center-list:nth-child(2) {
  width: 113px;
}

.footer__center-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__center-link {
  position: relative;
  z-index: 1;
  line-height: 11px;
  transition: color .3s ease;
}

.footer__center-link::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #AA9DFA;
  z-index: -1;
  transition: top .3s ease, bottom .3s, right .3s ease, left .3s ease;
}

.footer__center-link:focus:after {
  display: block;
  top: -3px;
  bottom: -1px;
  left: -5.5px;
  right: -5.5px;
}

.footer__center-link:active {
  color: #6D31EE;
}

.footer__center-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.footer__botton-background {
  background-color: #292E39;
  padding-top: 9px;
  padding-bottom: 10px;
}

.footer__botton-vector {
  background: url("../img/footer/Vector.svg");
  height: 12px;
  margin-bottom: 9px;
}

.footer__botton-text, .footer__botton-text sup {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 103.34%;
  color: #A1A6B4;
}

/* Footer */







/* about-section */














/* media 768px*/
  @media(min-width: 768px) {

  }
/* media */


